body {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

div {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 12rem;
  text-align: center;
  line-height: .5rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  font-size: 3rem;
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 1.5rem;
  }
}

#i {
  width: 0;
  height: 0;
  display: none;
}